<div class="page container">
  <section class="list">
    <h1 style="text-align: center;color: lightgreen;">My Portfolios</h1>
  </section>
  <section class="text-center">
    <button type="button" name="button" class="btn btn-primary" id="add-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Add a portfolio</button>
  </section>
  <section class="list-options text-center">
    <% @portfolios.each do |p| %>
      <%= link_to p.name, portfolio_stocks_path(p), class: "btn option" %>
    <% end %>
  </section>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Enter a portfolio name!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <%= form_with url: "/users/#{@user.id}/portfolios", method: :post do |form| %>
            <div class="modal-body">
              <%= form.label "Name:" %><br>
              <%= form.text_field :name %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <%= form.submit "Create", class: "btn btn-primary" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
