
<section class="" id="new-port">
  <h2 style="color: lightgreen;">Please enter a name:</h2><br>
  <%= form_with url: "/users/#{@user_id}/portfolios", method: :post do |form| %>
  <div class="<%= 'field_with_errors' if @portfolio.errors.any? %>">
    <%= form.label "Name:" %>
    <%= form.text_field :name %><br><br>
  </div>
  <%= form.submit "Create", class: "btn btn-custom" %>
  <% end %>

</section>
