<br>
<%= form_with url: '/stocks', method: :post do |form| %>
  <%= form.label "Please Enter a ticker" %>
  <div class="<%= 'field_with_errors' if flash[:notice] != nil %>">
    <%= form.text_field :ticker %><br>
  </div>
  <%= form.submit "Add Stock", class: "btn btn-custom"%>
<% end %><br>
<% @stocks.each do |s| %>
  <%= form_with url: "/stocks/#{s.id}", method: :delete do |form| %>
  <h3><%= s.symbol %></h3><%= form.submit "Remove", class: "btn btn-danger stock-list-rmv" %><br><br>
  <% end %>
<% end %>
