<% if @user %>
<%= form_with url: '/stocks', method: :post do |form| %>
  <%= form.label "Please Enter a ticker" %>
  <%= form.text_field :ticker %>
  <%= form.submit "Add" %>
<% end %>

<% @stocks.each do |s| %>
  <label for="" style="color: lightgreen;"><%= s.symbol %></label><br>
<% end %>

<% else %>

<div class="" id="wrapper">
  <div class="" id="first">
    <h1>news</h1>
  </div>
  <div class="" id="second">
    <div class="">
      <%= form_with url: "/portfolios/#{@port_id}", method: :delete do |form| %>
        <%= form.submit "Delete Portfolio", class: "btn btn-danger delete-portfolio" %>
      <% end %>
      <button type="button" name="button" class="btn btn-custom" id="add_button">Add Stocks</button>
      <button type="button" name="button" class="btn btn-custom">Remove Stocks</button>
    </div>
    <h1>table</h1>
  </div>
</div>

<% end %>
